In [1]:
basket = [1, 2.3, 'apel']

In [2]:
len(basket)

3

In [3]:
for i in range(len(basket)):
    print(basket[i])

1
2.3
apel

In [7]:
for i in range(0,3):
    print(basket[i])

1
2.3
apel

In [8]:
basket

[1, 2.3, 'apel']

In [10]:
basket[1] = 'mango'

In [11]:
basket

[1, 'mango', 'apel']

In [12]:
lemon = ['lemon']

In [13]:
basket = basket+lemon

In [14]:
basket

[1, 'mango', 'apel', 'lemon']

In [15]:
basket.append('banana')

In [16]:
basket

[1, 'mango', 'apel', 'lemon', 'banana']

In [17]:
new_fruit = ['grape', 'apple washington']

In [18]:
basket = basket + new_fruit

In [19]:
basket

[1, 'mango', 'apel', 'lemon', 'banana', 'grape', 'apple washington']

In [21]:
basket.append(new_fruit)

In [22]:
basket

[1,
 'mango',
 'apel',
 'lemon',
 'banana',
 'grape',
 'apple washington',
 [...],
 ['grape', 'apple washington']]

In [23]:
basket.pop(7)

[1,
 'mango',
 'apel',
 'lemon',
 'banana',
 'grape',
 'apple washington',
 ['grape', 'apple washington']]

In [24]:
new_basket = basket.pop()

In [25]:
new_basket

['grape', 'apple washington']

In [26]:
basket

[1, 'mango', 'apel', 'lemon', 'banana', 'grape', 'apple washington']

In [28]:
variable = [1,2,5,7,4,9]

In [29]:
variable.sort()

In [30]:
variable

[1, 2, 4, 5, 7, 9]

In [32]:
type(variable.sort())

NoneType

Nested List

In [33]:
field = [1,2,3,4,5,[6,7,8]]

In [34]:
field

[1, 2, 3, 4, 5, [6, 7, 8]]

In [35]:
field[2]

3

In [36]:
field[5][0]

6

In [41]:
field2 = [1,2,3,4,5,[6,7,8,[9,10,11,'target']]]

In [42]:
field2[5][3][3]

'target'

Deep knowledge with List

In [43]:
var1 = list()

In [44]:
var2 = []

In [45]:
if var1 == var2:
    print('var1 is same with var2')

var1 is same with var2

In [46]:
list('i love to learn phyton')

['i',
 ' ',
 'l',
 'o',
 'v',
 'e',
 ' ',
 't',
 'o',
 ' ',
 'l',
 'e',
 'a',
 'r',
 'n',
 ' ',
 'p',
 'h',
 'y',
 't',
 'o',
 'n']

In [51]:
odd = [1,3,5,7,9]

In [52]:
even = [2,4,6,8,10]

In [53]:
number = odd + even

In [54]:
number

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [55]:
numbers = [odd, even]

In [56]:
numbers

[[1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [58]:
for i in numbers:
    print(i)
    
    for j in i : 
        print(j)

[1, 3, 5, 7, 9]
1
3
5
7
9
[2, 4, 6, 8, 10]
2
4
6
8
10